In [33]:
# import libraries
import pandas as pd
import numpy as np
import os

In [34]:

path=r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis'
df_prods=pd.read_csv(r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis/2.Data/Prepared_Data/products_cleaned.csv',index_col=False)
df_ords=pd.read_csv(r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis/2.Data/Prepared_Data/orders_cleaned.csv',index_col=False)
df_ords_prior=pd.read_csv(r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis/2.Data/Original_Data/orders_products_prior.csv',index_col=False)

In [35]:
#checking the size of the new df comparing with the prepared ords df
df_ords_prior.shape

(32434489, 4)

In [36]:
df_ords.shape

(3421083, 6)

In [37]:
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [38]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [39]:
#common key is order_id

In [40]:
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [41]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [42]:
#counting the both match
df_merged_large['_merge'].value_counts()

_merge
both          32434489
left_only            0
right_only           0
Name: count, dtype: int64

In [43]:
#using the how argument
df_merged_large_inner = df_ords.merge(df_ords_prior, on = 'order_id', how = 'inner')

In [44]:
df_merged_large_inner.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,1,2,8,NaN,196,1,0
1,2539329,1,1,2,8,NaN,14084,2,0
2,2539329,1,1,2,8,NaN,12427,3,0
3,2539329,1,1,2,8,NaN,26088,4,0
4,2539329,1,1,2,8,NaN,26405,5,0

In [48]:
df_merged_large.shape

(32434489, 10)

In [46]:
df_merged_large.to_pickle(os.path.join(path, '2.Data','Prepared_Data', 'orders_products_combined.pkl'))