In [1]:
# import libraries
import pandas as pd
import numpy as np
import os

In [2]:
#n a new notebook, import the orders_products_combined dataframe from the pickle file you just saved.
path=r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis'
df_orders_products_combined=pd.read_pickle(r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis/2.Data/Prepared_Data/orders_products_combined.pkl')

In [3]:
df_orders_products_combined.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,196,1,0,both
1,2539329,1,1,2,8,NaN,14084,2,0,both
2,2539329,1,1,2,8,NaN,12427,3,0,both
3,2539329,1,1,2,8,NaN,26088,4,0,both
4,2539329,1,1,2,8,NaN,26405,5,0,both

In [4]:
#Check the shape of the imported dataframe (it should be the same as the one you exported—always check!).
df_orders_products_combined.shape

(32434489, 10)

In [5]:
#Determine a suitable way to combine the orders_products_combined dataframe with your products data set. Make sure you’re using your
#wrangled, cleaned, and deduped products data set stored in your “Prepared Data” folder from the previous Exercise’s task.

In [6]:
#importing the products_checked.csv
df_prods_checked=pd.read_csv(r'/Users/roxanamiu/20.03.2024_Instacart_Basket_Analysis/2.Data/Prepared_Data/products_checked.csv',index_col=False)

In [7]:
df_prods_checked.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

In [8]:
df_orders_products_combined.shape

(32434489, 10)

In [9]:
df_prods_checked.shape

(49672, 5)

In [10]:
#common key is product_id, I ll do a inner join using the common key
df_merged_final = df_orders_products_combined.merge(df_prods_checked, on = 'product_id', how='inner')

In [11]:
df_merged_final.head()

,order_id,user_id,order_number,orders_day_of_week,hour_of_order,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge,product_name,aisle_id,department_id,prices
0,2539329,1,1,2,8,NaN,196,1,0,both,Soda,77,7,9.0
1,2398795,1,2,3,7,15.0,196,1,1,both,Soda,77,7,9.0
2,473747,1,3,3,12,21.0,196,1,1,both,Soda,77,7,9.0
3,2254736,1,4,4,7,29.0,196,1,1,both,Soda,77,7,9.0
4,431534,1,5,4,15,28.0,196,1,1,both,Soda,77,7,9.0

In [12]:
df_merged_final.shape

(32404859, 14)

In [13]:
#Confirm the results of the merge using the merge flag.
df_merged_final['_merge'].value_counts()

_merge
both          32404859
left_only            0
right_only           0
Name: count, dtype: int64

In [14]:
#Export the newly created dataframe as ords_prods_merge in a suitable format (taking into consideration the size).
df_merged_final.to_pickle(os.path.join(path, '2.Data','Prepared_Data', 'ords_prods_merge.pkl'))